NOVA_API_DB=nova_api
NOVA_API_USER=nova_api
NOVA_API_PASS=65B35VjFZt0IGzlrHXjohzu7c3BCcxfzAiiK74qd
NOVA_API_DB_HOST=10.53.101.10
PLACEMENT_DB=placement
PLACEMENT_USER=placement
PLACEMENT_PASS=Oa1dJfuqI3DsmVd55I37ICtDWIgwAgFUJPE82GGS
PLACEMENT_DB_HOST=10.53.101.10
